<table class="four-square">
  <tr>
    <td  class="first <%= @carriers.first.css %>"><%= @carriers.first.display %></td>
    <td  class="second <%= @carriers.second.css %>"><%= @carriers.second.display %></td>
  </tr>
  <tr>
    <td  class="third <%= @carriers.third.css %>"><%= @carriers.third.display %></td>
    <td  class="fourth <%= @carriers.fourth.css %>"><%= @carriers.fourth.display %></td>
  </tr>
  <audio id="player" src=""></audio>
</table>
<button id="slideShow">Turn On SlideShow</button>
